version: "3.8"

services:
  postgres:
    image: postgres:15 # Use a specific PostgreSQL version
    container_name: postgres_dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: tennistime_test
    volumes:
      - /home/TennisTime/tennistime/postgres_data:/var/lib/postgresql/data
    networks:
      - app_network
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7
    container_name: redis_dev
    networks:
      - app_network
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

#  smtp:
#    build:
#      context: /home/TennisTime/tennistime/stmp
#      dockerfile: Dockerfile
#    container_name: smtp_dev
#    ports:
#      - "8025:8025"
#    networks:
#      - app_network
#    volumes:
#      - /home/TennisTime/tennistime/stmp/target:/app/target

  mailhog:
    image: mailhog/mailhog:latest
    container_name: mailhog
    networks:
      - app_network
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: unless-stopped

  authentication:
    build:
      context: /home/TennisTime/tennistime/authentication
      dockerfile: Dockerfile.dev
    container_name: authentication_dev
    volumes:
      - /home/TennisTime/tennistime/authentication/src:/app/src:delegated
      - /home/TennisTime/tennistime/authentication/target:/app/target:delegated
      - /home/TennisTime/tennistime/authentication/pom.xml:/app/pom.xml
    networks:
      - app_network
    ports:
      - "8082:8082"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: postgres
      DB_PORT: 5432
      jwt.secret: Dy64nBQfRKEQtLTRDV42R8/H3XsxVFFk+zrXb2l+PQz8j+p5vR+RYAkfLK+jXdhmRrx3gU8yU9TcvKjL43FUYw==

  profile:
    build:
      context: /home/TennisTime/tennistime/profile
      dockerfile: Dockerfile.dev
    container_name: profile_dev
    volumes:
      - /home/TennisTime/tennistime/profile/src:/app/src:delegated
      - /home/TennisTime/tennistime/profile/target:/app/target:delegated
      - /home/TennisTime/tennistime/profile/pom.xml:/app/pom.xml
    networks:
      - app_network
    ports:
      - "8084:8084"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: postgres
      DB_PORT: 5432
      jwt.secret: Dy64nBQfRKEQtLTRDV42R8/H3XsxVFFk+zrXb2l+PQz8j+p5vR+RYAkfLK+jXdhmRrx3gU8yU9TcvKjL43FUYw==

  provider:
    build:
      context: /home/TennisTime/tennistime/provider
      dockerfile: Dockerfile.dev
    container_name: provider_dev
    volumes:
      - /home/TennisTime/tennistime/provider/src:/app/src:delegated
      - /home/TennisTime/tennistime/provider/target:/app/target:delegated
      - /home/TennisTime/tennistime/provider/pom.xml:/app/pom.xml
    networks:
      - app_network
    ports:
      - "8086:8086"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: postgres
      DB_PORT: 5432
      jwt.secret: Dy64nBQfRKEQtLTRDV42R8/H3XsxVFFk+zrXb2l+PQz8j+p5vR+RYAkfLK+jXdhmRrx3gU8yU9TcvKjL43FUYw==

  bff:
    build:
      context: /home/TennisTime/tennistime/bff
      dockerfile: Dockerfile.dev
    container_name: bff_dev
    volumes:
      - /home/TennisTime/tennistime/bff/src:/app/src:delegated
      - /home/TennisTime/tennistime/bff/target:/app/target:delegated
      - /home/TennisTime/tennistime/bff/pom.xml:/app/pom.xml
    networks:
      - app_network
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: postgres
      DB_PORT: 5432
      jwt.secret: Dy64nBQfRKEQtLTRDV42R8/H3XsxVFFk+zrXb2l+PQz8j+p5vR+RYAkfLK+jXdhmRrx3gU8yU9TcvKjL43FUYw==

  reservation:
    build:
      context: /home/TennisTime/tennistime/reservation
      dockerfile: Dockerfile.dev
    container_name: reservation_dev
    volumes:
      - /home/TennisTime/tennistime/reservation/src:/app/src:delegated
      - /home/TennisTime/tennistime/reservation/target:/app/target:delegated
      - /home/TennisTime/tennistime/reservation/pom.xml:/app/pom.xml
    networks:
      - app_network
    ports:
      - "8085:8085"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: postgres
      DB_PORT: 5432
      jwt.secret: Dy64nBQfRKEQtLTRDV42R8/H3XsxVFFk+zrXb2l+PQz8j+p5vR+RYAkfLK+jXdhmRrx3gU8yU9TcvKjL43FUYw==

  frontend:
    build:
      context: /home/TennisTime/tennistime/frontend
      dockerfile: Dockerfile.dev
    container_name: frontend_dev
    volumes:
      - /home/TennisTime/tennistime/frontend:/app
    networks:
      - app_network
    ports:
      - "4200:80"
    depends_on:
      - authentication
      - profile
    environment:
      - NODE_ENV=development




networks:
  app_network:
    name: app_network