stages:
  - build
  - test
  - deploy

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_HOST: unix:///var/run/docker.sock
  DOCKER_TLS_CERTDIR: ""
  CI_REGISTRY: registry.gitlab.com
  CI_PROJECT_NAMESPACE: miladfahimi2012/tennistime
  CI_REGISTRY_USER: "$CI_REGISTRY_USER"
  CI_REGISTRY_PASSWORD: "$CI_REGISTRY_PASSWORD"

before_script:
  - |
    if command -v apt-get >/dev/null 2>&1; then
      apt-get update && apt-get install -y curl bash
    else
      apk update && apk add --no-cache curl bash
    fi
  - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

build:
  stage: build
  tags:
    - booking_app
  image: docker:20.10.16
  script:
    # Build and push Docker images for all services
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/frontend:latest -f frontend/Dockerfile.test ./frontend
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/frontend:latest
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/authentication:latest -f authentication/Dockerfile.test ./authentication
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/authentication:latest
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/provider:latest -f provider/Dockerfile.test ./provider
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/provider:latest
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/bff:latest -f bff/Dockerfile.test ./bff
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/bff:latest
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/profile:latest -f profile/Dockerfile.test ./profile
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/profile:latest
    - docker build -t $CI_REGISTRY/$CI_PROJECT_NAMESPACE/reservation:latest -f reservation/Dockerfile.test ./reservation
    - docker push $CI_REGISTRY/$CI_PROJECT_NAMESPACE/reservation:latest

test:
  stage: test
  tags:
    - booking_app
  image: maven:3.9.8-amazoncorretto-17-al2023
  before_script: []
  script:
    # Run Maven tests directly inside the Maven image
    - mvn clean test -f authentication/pom.xml
    - mvn clean test -f provider/pom.xml
    - mvn clean test -f bff/pom.xml
    - mvn clean test -f profile/pom.xml
    - mvn clean test -f reservation/pom.xml

deploy:
  stage: deploy
  tags:
    - booking_app
  image: docker:20.10.16
  before_script:
    - apk update && apk add --no-cache docker-compose
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - docker-compose -f devops/docker-compose.staging.yml pull
    - docker-compose -f devops/docker-compose.staging.yml down
    - docker-compose -f devops/docker-compose.staging.yml up -d --remove-orphans
  only:
    - main
    - iranzamin-MVP-1
