/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  direction: rtl;
}
* {
    font-family: 'Vazirmatn', sans-serif;
}

/* Spinner style for index.html */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

